
<!DOCTYPE html>
<html lang="en">
	<title>Project Livermore - Prototype</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'resources/css/style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<body>
	
		<!-- <audio controls autoplay>
  			<source src="/static/resources/Audio/ambient.mp3" type="audio/mpeg">
		</audio>  -->
		
		<!-- Left-hand Patient Navigation Bar -->
		<div class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-black">
			<nav>
			
					<a href="http://www.gatech.edu/">
						<img src="http://www.comm.gatech.edu/sites/comm.gatech.edu/files/images/georgiatechlogo-white-675x315.png" style="width:100%">
					</a>
		
					<a href="javascript:void" class="w3-bar-item w3-button w3-padding-large w3-hover-white" id="patientOne" name="patientId" value="1">
						<label for="patient1"><p>Patient 1</label></p>
					</a>
		
					<a href="javascript:void" class="w3-bar-item w3-button w3-padding-large w3-hover-white" id="patientTwo" name="patientId" value="2">
						<label for="patient2"><p>Patient 2</label></p>
					</a>
		
					<a href="javascript:void" class="w3-bar-item w3-button w3-padding-large w3-hover-white" id="patientThree" name="patientId" value="3">
						<label for= "patient3"><p>Patient 3 </label></p>
					</a>
		
					<a href="javascript:void" class="w3-bar-item w3-button w3-padding-large w3-hover-white" id="patientFour" name="patientId" value="4">
						<label for ="patient4"><p>Patient 4</label></p>
					</a>
					
					<a href="javascript:void" class="w3-bar-item w3-button w3-padding-large w3-hover-white" id="patientFive" name="patientId" value="5">
						<label for ="patient5"><p>Patient 5</label></p>
					</a>
				
			</nav>
		</div>
		
		<!-- Section containing JS 3D renderer and collapsible Information panel -->
		<div id="main">
			
			<!-- Load three.JS 3D scene -->
			<div>
				<!-- Load three.JS libraries -->
				<script src="{{ url_for('static', filename = 'vendors/threejs/three.js') }}"></script>
				<!-- <script src="{{ url_for('static', filename = 'vendors/threejs/OBJLoader.js') }}"></script> -->
				<!-- <script src="{{ url_for('static', filename = 'vendors/threejs/JSONLoader.js') }}"></script>  -->
				<script src="{{ url_for('static', filename = 'vendors/threejs/inflate.min.js') }}"></script>
				<script src="{{ url_for('static', filename = 'vendors/threejs/FBXLoader.js') }}"></script>
				<script src="{{ url_for('static', filename = 'vendors/threejs/OrbitControls.js') }}"></script>
				
				<!-- JS for Project Livermore 3D scene -->
				<script src="{{ url_for('static', filename = 'resources/js/render.js') }}"></script>
			</div>
			
			<!-- Disease Information Right-hand panel -->
			<div class="infobox w3-quarter">
				
				<!-- Button as header of collapsible information box -->
				<button onClick="infoHide('infobar')" class="w3-btn w3-dark-grey row btn" title="Click to Expand/Collapse">
					<header class="w3-center">
		      		<p class="p-header"><span class="w3-hide-small">Disease</span> Information</h4>
		      		<p class="p-arrow">&#9660;</p>
		        </header>
				</button>
				
				<!-- Disease Information textbox -->
				<!-- Needs to be made dynamic with data loaded from DB  -->
				<div class="w3-card w3-black w3-content w3-text-grey w3-padding-5 row content" id="infobar">
		     		 <h5 class="w3-text-light-grey">Patient</h5>

		     		 <p class="w3-wide">First Name: <span  id="Patient_first_name">{{Patient_first_name}}</span></p>
		     		 <p class="w3-wide">Last Name: <span id="Patient_last_name">{{Patient_last_name}}</span></p>
		     		 		     		 
		     		 <h5 class="w3-text-light-grey">Your Symptoms</h5>
		     		 <p class="w3-wide"><span id="Patient_symptoms">{{Patient_symptoms}}</span></p>

		     		 <br>
		     		 <h5 class="w3-text-light-grey">Your Diagnosis</h5>
		     		 <p class="w3-wide"><span id="Patient_diagnosis"> {{Patient_diagnosis}}</span></p>

					<h5 class="w3-text-light-grey">Your Treatment</h5>
		     		<p class="w3-wide"><span id="Patient_treatment">{{Patient_treatment}}</span></p>
		     		 
		        
		        	<h4 class="w3-text-light-grey">Advanced Information</h4>
	
		     		 <p class="w3-wide"><font color="white">Disease:</font></p>
		     		 <p class="w3-wide"><span id="Disease_name">{{Disease_name}}</span></p>
		     		 <p class="w3-wide"><font color="white">Overview:</font></p>
		     		 <p class="w3-wide"><span id="Disease_overview">{{Disease_overview}}</span></p>
		     		 <p class="w3-wide"><font color="white">Symptoms:</font></p>
		     		 <p class="w3-wide"><span id="Disease_symptoms">{{Disease_symptoms}}</span></p>
		     		 <p class="w3-wide"><font color="white">Treatment:</font></p>
		     		 <p class="w3-wide"><span id="Disease_treatment">{{Disease_treatment}}</span></p>
		     		 <p class="w3-wide"><font color="white">Causes:</font></p>
		     		 <p class="w3-wide"><span id="Disease_causes">{{Disease_causes}}</span></p>
		     		 <p class="w3-wide"><font color="white">Risk Factors:</font></p>
		     		 <p class="w3-wide"><span id="Disease_risk_factors">{{Disease_risk_factors}}</span></p>
		     		 <p class="w3-wide"><font color="white">Complications:</font></p>
		     		 <p class="w3-wide"><span id="Disease_complications">{{Disease_complications}}</span></p>
		     		 <p class="w3-wide"><font color="white">Preventions:</font></p>
		     		 <p class="w3-wide"><span id="Disease_preventions">{{Disease_preventions}}</span></p>
		     		 <p class="w3-wide"><font color="white">Resources:</font></p>
					 <p class="w3-wide"><span id="Disease_resources">{{Disease_resources}}</span></p>
				</div>
			</div>
			
			
			<div class="w3-card w3-dark-grey w3-content w3-center w3-text-white" id="disease-slider">
				<div class="slidecontainer">
					<input type="range" min="1" max="100" value="1" step="100" class="slider" id="diseaseRange">
					<p id="slideLabel">No Patient Selected</p>
				</div>
			</div>
			
		
		</div>
		
		
		<!-- Load controls for UI elements -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename = 'resources/js/interface.js') }}"></script>
		
		
	</body>
</html>
