<!DOCTYPE html>
<html lang="en">
	<title>Project Livermore - Prototype</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'resources/css/style.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<body class="w3-black">
		<!-- <div id="info">
		Project Livermore - Prototype
	</div> -->

		<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
			<a href="http://www.gatech.edu/">
				<img src="http://www.comm.gatech.edu/sites/comm.gatech.edu/files/images/georgiatechlogo-white-675x315.png" style="width:100%">
			</a>

			<a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
				<p>Patient 1</p>
			</a>

			<a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
				<p>Patient 2</p>
			</a>

			<a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
				<p>Patient 3</p>
			</a>

			<a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
				<p>Patient 4</p>
			</a>
		</nav>

		<div class="w3-padding-small" id="main">
			<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
	      <h1 class="w3-jumbo"><span class="w3-hide-small">Liver</span> More</h1>
	      <p>
					<script src="{{ url_for('static', filename = 'vendors/threejs/three.js') }}"></script>
					<script src="{{ url_for('static', filename = 'vendors/threejs/OBJLoader.js') }}"></script>
					<script src="{{ url_for('static', filename = 'vendors/threejs/JSONLoader.js') }}"></script>
					<script src="{{ url_for('static', filename = 'vendors/threejs/OrbitControls.js') }}"></script>
					<script src="{{ url_for('static', filename = 'resources/js/render.js') }}"></script>
	    	</p>

			</header>

			<div class="w3-content w3-justify w3-text-grey w3-padding-5" id="about">
	      <h2 class="w3-text-light-grey">Patient</h2>

	      <p class="w3-wide">Name: Joe Johnson</p>
	      <p class="w3-wide">Date Of Birth: 01/01/1999</p>
	      <p class="w3-wide">Address: 888 atlanta GA 33189</p>
	      <p class="w3-wide">Hospital: Atlanta Primary Care</p>

	      <h2 class="w3-text-light-grey">Condition</h2>
	      <p class="w3-wide">Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this
	        is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis</p>

	      <br>
	      <h2 class="w3-text-light-grey">Diagnosis</h2>
	      <p class="w3-wide">Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis Diagnosis this
	        is your diagnosis Diagnosis this is your diagnosis Diagnosis this is your diagnosis</p>

			</div>
		</div>

	</body>
</html>
