* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
  margin-bottom: 12px
}

.w3-sidebar {
  width: 160px;
  background: #222;
}

#main {
  margin-left: 160px;
}

.infobox {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.infobox .row {
	
}

.infobox .row.btn {
	flex: 0 1 auto;
}

.infobox .row.content {
	flex: 1 1 auto;
	overflow: auto;
}


@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }
}
